# Environment config

# Please specify everything for your bot

# Note: .env is a shell file, so the can't be spaces around =

PREFIX=MA2
BOT_TOKEN=NzY3MDY1ODg0ODQwOTUxODk4.X4sfxg.WuITUcDcYuBZIC22BOK3xjuo-Kk
YTAPI_KEY=AIzaSyCl3xoEYLWZ_VIX-6K5U3RqinYaKwOupG4
